<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1bd8ad9d-ac40-4a22-b980-7d36ef04db0d" name="Login" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="1bd8ad9d-ac40-4a22-b980-7d36ef04db0dfileName">Login</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>