<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2d9da2c8-7380-43ae-b2b5-a3bc51a65de3" name="Setup" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="2d9da2c8-7380-43ae-b2b5-a3bc51a65de3fileName">Setup</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>